.categories{
    height: 18%; 
}

.categories > hr{
    height: 1px; 
    border: 0; 
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  padding: .5rem 1rem;
  font-size: 14px;
  cursor: pointer;
}

.category:hover {
  background-color: #D3D3D3;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eeeeee;
}

.category:last-child {
  margin-right: 0;
}
