
.videos {
  flex: 0.8;
  background-color: #f9f9f9;
}

.videos > hr {
  height: 1px; 
  border: 0; 
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.h2{
  margin-left: 5px;
  margin-bottom: 20px;
}

.videos__category-section{
  color: red;
}

.videos__category{
  margin-right: 1rem;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  padding: .5rem 1rem;
  font-size: 14px;
  cursor: pointer;
}

.videos__categories > hr{
    height: 1px; 
    border: 0; 
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.videos__category-section {
  display: flex;
  overflow: hidden;
}

.videos__category:hover {
  background-color: #D3D3D3;
}

.videos__category.active {
  background-color: #606060;
  color: white;
  border-color: #eeeeee;
}

.videos__category:last-child {
  margin-right: 0;
}

/* videos */

.videos__videos {
  display: flex;
  flex-wrap: wrap;  
}

.h2,
.VideoCard{
    flex: 0.2;
}
